.contact {
  width: 100%;
  margin-top: $mobile-menu-height;
  max-width: 1200px;

  &-wrapper {
    padding-left: 16px;

    .section-box {
      padding: 40px 16px 16px 0px;
      position: relative;
      margin: 48px 0 32px 32px;

      @include bottom-right-border;

      &::after {
        right: 12px;
      }
      
    }

    .lead-box {
      margin: 8px 0 32px 32px;

      &::before {
        position: absolute;
        content: '';
        top: 20px;
        left: -30px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-top: 4px solid $box-line-bg-color;
        border-left: 4px solid $box-line-bg-color;
      }
    }


    .contact-links {
      @include flex-center-center;
      flex-direction: column;
      position: relative;
      margin: 0px 16px 0px 0px;
      padding: 16px;

      .contact-github, .contact-email {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 8px auto;

        &-text {
          color: $nav-text-color;
          padding-left: 16px;
        }

        .contact-item {
          @include flex-center-center;

          .icons--flat {
            @include contact-icons;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  @media (min-width: $media-mobile-horizontal-size) {
    .contact-wrapper {
      padding: 0 8%;

      .contact-links {
        flex-direction: row;
  
        .contact-item {
          flex-direction: column;
        }
      }
    }
  }

  @media (min-width: $media-desktop-size) {
    .contact-wrapper {
      padding: 0 2%;

      .lead-box::before {
        left: 0;
      }

      .section-title {
        padding-left: 32px;
      }

      .contact-links {
        margin: 0 16px 16px 16px;

      }
    }
  }
}